htdocs/_phenotype/admin/phenotype.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="Config1" targetNamespace="urn:Config1" xmlns:typens="urn:Config1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<message name="__construct"/>
	<message name="__constructResponse"/>
	<message name="executeCleanUp">
		<part name="hash" type="xsd:string"/>
		<part name="random"/>
	</message>
	<message name="executeCleanUpResponse">
		<part name="executeCleanUpReturn" type="xsd:boolean"/>
	</message>
	<message name="installPackage">
		<part name="name" type="xsd:string"/>
		<part name="hash" type="xsd:string"/>
		<part name="random"/>
	</message>
	<message name="installPackageResponse">
		<part name="installPackageReturn" type="xsd:boolean"/>
	</message>
	<portType name="PhenotypeSoapServerStandardPortType">
		<operation name="__construct">
			<input message="typens:__construct"/>
			<output message="typens:__constructResponse"/>
		</operation>
		<operation name="executeCleanUp">
			<documentation>
				Clean up (Delete all components, temp files and so on) whole application
			</documentation>
			<input message="typens:executeCleanUp"/>
			<output message="typens:executeCleanUpResponse"/>
		</operation>
		<operation name="installPackage">
			<documentation>
				Install remote package
			</documentation>
			<input message="typens:installPackage"/>
			<output message="typens:installPackageResponse"/>
		</operation>
	</portType>
	<binding name="PhenotypeSoapServerStandardBinding" type="typens:PhenotypeSoapServerStandardPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__construct">
			<soap:operation soapAction="urn:PhenotypeSoapServerStandardAction"/>
			<input>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="executeCleanUp">
			<soap:operation soapAction="urn:PhenotypeSoapServerStandardAction"/>
			<input>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="installPackage">
			<soap:operation soapAction="urn:PhenotypeSoapServerStandardAction"/>
			<input>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Config1" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="Config1Service">
		<port name="PhenotypeSoapServerStandardPort" binding="typens:PhenotypeSoapServerStandardBinding">
			<soap:address location="http://192.168.1.3/srv_sf/htdocs/_phenotype/admin/soapserver.php"/>
		</port>
	</service>
</definitions>


